/* app css stylesheet */

body{
  font-family: "Open Sans";
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.bill-cell{
  margin-bottom: 3px;
  padding: 2px 5px;
}

.bill-cell .label{
  display: inline-block;
  line-height: inherit;
  vertical-align: middle;
}

.unpaid-cell{
  background-color: #ef9b98;
}

.year-bills {}
  .year-bills a.add-bills { visibility: hidden;}
    .year-bills tr:hover a.add-bills { visibility: visible;}


/* form validation styles */

input.ng-invalid.ng-dirty {
  border: 1px solid red;
  animation-name: errorFieldAnimation;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
  animation-direction: alternate;
  animation-timing-function: ease-out;

}

@keyframes errorFieldAnimation {
  from { box-shadow: 0px 0px 0px red;}
  to { box-shadow: 0px 0px 7px red; }

}

input.ng-valid {
  border: 1px solid green;
}