<div class="row">
    <div class="col-lg-12">
        <h2>
            <a data-ui-sref="main.place.review( { placeId: place.id } )"  >{{::place.title}}</a>
        </h2>
        <span class="text-muted">
            <span class="glyphicon glyphicon-map-marker"></span>&nbsp;{{::place.country}}, {{::place.state}}, {{::place.city}}, {{::place.address}} - {{::place.zip}}
        </span>
        <small class="pull-right">
            <a href="" data-ui-sref="main.place.services( { placeId: place.id } )">Services</a>&nbsp;|&nbsp;
            <a href="" data-ui-sref="main.place.edit( { placeId: place.id } )">Edit</a>
        </small>
        <hr>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="btn-group" role="group" data-ng-if="availableYears.length>0">
    <a data-ng-class="{'active':year==currentYear}" data-ng-repeat="year in availableYears" type="button" class="btn btn-default" data-ui-sref="main.place.review( {placeId: place.id, year : year } )" >{{::year}}</a>
</div>
<hr data-ng-if="availableYears.length>0">

<table class="table table-hover table-condensed year-bills">
    <thead>
    <tr>
        <th colspan="2">Month</th>
        <th ng-repeat="service in services">{{::service.title}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="monthBillsServices in monthlyGroupedBills">
        <td>{{::monthBillsServices.key}}</td>
        <td><a href="" data-ng-click="addBillsForMonth(monthBillsServices.month)" class="add-bills"><i class="glyphicon glyphicon-plus-sign"></i></a></td>
        <td ng-repeat="billsForService in monthBillsServices.value">
            <table style="width:100%">
                <tr ng-repeat="bill in billsForService">
                    <td style="width:6em" data-ng-if="bill.service.serviceRate.rateData.ProgressiveRateData">
                        {{::bill.readout}}
                    </td>
                    <td>
                        <span class="label" data-ng-class="{true:'label-success', false:'label-danger' }[!!bill.paid]">{{::bill.value.amount}}&nbsp;{{::bill.value.currency}}</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>


<div class="modal fade" tabindex="-1" role="dialog" id="addBillsForMonthModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Bills for {{ monthLabel(addBillsForMonthData.month, currentYear ) }}</h4>
            </div>
            <form novalidate class="form" ng-submit="saveBills(addBillsForMonthData.services)" name="addBillForm">
                <div class="modal-body">

                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <td>Service</td>
                            <td>Readout</td>
                            <td>Amount to Pay</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="service in addBillsForMonthData.services">
                            <td style="vertical-align: middle">
                                {{::service.title}}
                            </td>
                            <td>
                                <div data-ng-if="service.serviceRate.rateData.ProgressiveRateData">
                                    <input class="form-control" type="number" placeholder="Readout" min="{{service.lastPayedBill.readout || 0}}" ng-required="true" ng-disabled="service.payed"
                                           data-ng-model="service.readout" name="{{::service.title}}Readout" required>
                                    <small data-ng-if="service.lastPayedBill">Latest readout: {{service.lastPayedBill.readout}}</small>
                                </div>
                            </td>
                            <td>
                                <div data-ng-if="service.serviceRate.rateData.ManualPriceRateData">
                                    <input class="form-control" type="number" placeholder="Amount" ng-disabled="service.payed" data-ng-model="service.value.amount" ng-required="true" min="0"
                                           name="{{::service.title}}Amount">
                                </div>
                                <div data-ng-if="service.serviceRate.rateData.ProgressiveRateData">
                                    <input class="form-control" readonly="readonly" value="Auto Calculated">
                                </div>
                                <div data-ng-if="service.serviceRate.rateData.FixedPriceRateData">
                                    Fixed amount: {{::service.serviceRate.rateData.FixedPriceRateData.amountPerMonth.amount}}&nbsp;{{::service.serviceRate.rateData.FixedPriceRateData.amountPerMonth.currency}}
                                </div>


                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save changes" data-ng-disabled="addBillForm.$invalid">
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->