<form autocomplete="off" class="form-signin" name="loginForm" ng-submit="doSignup()" novalidate id="signupForm" >
    <fieldset data-ng-disabled="formDisabled">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2 class="form-signin-heading">New Account</h2>

                <div class="alert alert-danger" data-ng-show="error">Email or password is invalid</div>

                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" id="inputName" class="form-control" placeholder="Name" ng-required autofocus="" ng-model="signupData.name">
                <br>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" ng-required autofocus="" ng-model="signupData.email">
                <br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-required="true" ng-model="signupData.password">
                <br>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                <br>
                <div class="text-right">
                    <a data-ui-sref="login" >Login</a>
                </div>
            </div>
        </div>
    </fieldset>
</form>